<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prathamesh.policeapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mupo"
        android:label="Online FIR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"/>
        <activity android:name=".MainActivity"
            android:label="Online FIR"/>
        <activity android:name=".Signup"
            android:label="Sign up"/>
        <activity android:name=".Register"
            android:label="Complaint Register"/>
        <activity android:name=".ViewComplaint"
            android:label="Online FIR"></activity>
        <activity android:name=".Retrievedata"/>
        <activity android:name=".InfoView"/>
    </application>

</manifest>